 ------
 Simple Configuration Example
 ------
 Jesse McConnell
 ------
 12 November 2005
 ------

Simple Configuration Example

 Add configuration similar to the following to your POM:

-------------------
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>axistools-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <urls>
            <url>http://host/server/sample.wsdl</url>
            <url>http://host/server/sample2.wsdl</url>
          </urls>
          <packageSpace>com.company.wsdl</packageSpace>
          <testCases>true</testCases>
          <serverSide>true</serverSide>
          <subPackageByFileName>true</subPackageByFileName>
        </configuration>
        <executions>
          <execution>
            <goals>
              <goal>wsdl2java</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
    ...
  </build>
  ...
</project>
-------------------
